#content {
  margin-left: auto;
  margin-right: auto;
  width: 650px;
}

#random-fact-container {
  margin-top: 20px;
}

body {
    background-color: lavender;
}

h1 {
    text-align: center;
}

img {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

#pets {
  width: 1200px;
  border: 10px darkorchid solid;
  padding: 10px;
  margin: 10px;
}

.column {
  float: left;
  width: 16.66%;
  padding: 5px;
}

.row::after {
  content: "";
  clear: both;
  display: table;
}